Repository faaragoness-star/Blind2, changes with the labels that .github/labeler.yml gives for each.
All labels: Capa:WP-Plugin, Capa:Viewer, Capa:Schemas, Capa:Assets, Capa:Docs, Capa:CI, Tipo:CI

.github/labeler.yml:

"Capa:WP-Plugin":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/wp-plugin/**"

"Capa:Viewer":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/viewer/**"

"Capa:Schemas":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/schemas/**"

"Capa:Assets":
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**"
          - "tools/assets-lint/**"

"Capa:Docs":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"

"Capa:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

"Tipo:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

Update phpstan.neon
  apps/wp-plugin/G3D-Flow-Orchestrator/phpstan.neon
Labels: Capa:WP-Plugin

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update ci-php.yml
  .github/workflows/ci-php.yml
Labels: Capa:CI, Tipo:CI

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

chore(wp-plugin): phpstan setup (#24)
  .github/workflows/ci-php.yml
  .github/workflows/ci-phpstan.yml
  apps/wp-plugin/G3D-Flow-Orchestrator/g3d-flow-orchestrator.php
  apps/wp-plugin/G3D-Flow-Orchestrator/phpstan.neon
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
Labels: Capa:WP-Plugin, Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update ci-php.yml
  .github/workflows/ci-php.yml
Labels: Capa:CI, Tipo:CI

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update ci-assets.yml
  .github/workflows/ci-assets.yml
Labels: Capa:CI, Tipo:CI

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Update ci-e2e.yml
  .github/workflows/ci-e2e.yml
Labels: Capa:CI, Tipo:CI

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Update ci-assets.yml
  .github/workflows/ci-assets.yml
Labels: Capa:CI, Tipo:CI

Update semantic-pr.yml
  .github/workflows/semantic-pr.yml
Labels: Capa:CI, Tipo:CI

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Update ci-e2e.yml
  .github/workflows/ci-e2e.yml
Labels: Capa:CI, Tipo:CI

Update ci-e2e.yml
  .github/workflows/ci-e2e.yml
Labels: Capa:CI, Tipo:CI

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Update ci-assets.yml
  .github/workflows/ci-assets.yml
Labels: Capa:CI, Tipo:CI

chore: update release workflow (#29)
  .github/workflows/ci-assets.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-phpstan.yml
  .github/workflows/ci-schemas.yml
  .github/workflows/release-plugin.yml
  .github/workflows/semantic-pr.yml
Labels: Capa:CI, Tipo:CI

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Create release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update README.md
  README.md
Labels: none

chore: enable release drafter (#30)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-plugin.yml
  README.md
Labels: Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update g3d-flow-orchestrator.php
  apps/wp-plugin/G3D-Flow-Orchestrator/g3d-flow-orchestrator.php
Labels: Capa:WP-Plugin
