Repository faaragoness-star/Blind2, changes with the labels that .github/labeler.yml gives for each.
All labels: Capa:WP-Plugin, Capa:Viewer, Capa:Schemas, Capa:Assets, Capa:Docs, Capa:CI, Tipo:CI

.github/labeler.yml:

"Capa:WP-Plugin":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/wp-plugin/**"

"Capa:Viewer":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/viewer/**"

"Capa:Schemas":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/schemas/**"

"Capa:Assets":
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**"
          - "tools/assets-lint/**"

"Capa:Docs":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"

"Capa:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

"Tipo:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Rama3 (#13)
  .github/workflows/release-plugin.yml
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  docs/index.md
  package.json
Labels: Capa:WP-Plugin, Capa:Docs, Capa:CI, Tipo:CI

Create semantic-pr.yml
  .github/workflows/semantic-pr.yml
Labels: Capa:CI, Tipo:CI

Create release-please.yml
  .github/workflows/release-please.yml
Labels: Capa:CI, Tipo:CI

Create codeql.yml
  .github/workflows/codeql.yml
Labels: Capa:CI, Tipo:CI

Create ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Create phpstan.neon
  phpstan.neon
Labels: none

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update phpstan.neon
  phpstan.neon
Labels: none

Update phpstan.neon
  phpstan.neon
Labels: none

Rama4 (#16)
  .github/workflows/ci-phpstan.yml
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
  .github/workflows/semantic-pr.yml
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
  phpstan.neon
Labels: Capa:WP-Plugin, Capa:CI, Tipo:CI

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

chore: attach plugin zip to release (#18)
  .github/workflows/release-plugin.yml
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
Labels: Capa:WP-Plugin, Capa:CI, Tipo:CI

Create composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Create composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Create phpstan.neon
  apps/wp-plugin/G3D-Flow-Orchestrator/phpstan.neon
Labels: Capa:WP-Plugin

Update phpstan.neon
  apps/wp-plugin/G3D-Flow-Orchestrator/phpstan.neon
Labels: Capa:WP-Plugin

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update package.json
  package.json
Labels: none

Update package.json
  package.json
Labels: none

ci: add phpstan config (composer + phpstan.neon) (#20)
  .github/workflows/ci-phpstan.yml
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/phpstan.neon
  package.json
Labels: Capa:WP-Plugin, Capa:CI, Tipo:CI

Update composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Update composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Update package.json
  package.json
Labels: none

ci: allow phpstan extension-installer (#22)
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
  package.json
Labels: Capa:WP-Plugin

Update composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Update composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Rename apps/wp-plugin/G3D-Flow-Orchestrator/composer.json to .github/workflows/composer.json
  .github/workflows/composer.json
Labels: Capa:CI, Tipo:CI

Delete .github/workflows/composer.json
  .github/workflows/composer.json
Labels: Capa:CI, Tipo:CI

Create composer.json
  apps/wp-plugin/G3D-Flow-Orchestrator/composer.json
Labels: Capa:WP-Plugin

Update ci-phpstan.yml
  .github/workflows/ci-phpstan.yml
Labels: Capa:CI, Tipo:CI

Update package.json
  package.json
Labels: none

Update ci-php.yml
  .github/workflows/ci-php.yml
Labels: Capa:CI, Tipo:CI

Update g3d-flow-orchestrator.php
  apps/wp-plugin/G3D-Flow-Orchestrator/g3d-flow-orchestrator.php
Labels: Capa:WP-Plugin
