Repository faaragoness-star/Blind2, changes with the labels that .github/labeler.yml gives for each.
All labels: Capa:WP-Plugin, Capa:Viewer, Capa:Schemas, Capa:Assets, Capa:Docs, Capa:CI, Tipo:CI

.github/labeler.yml:

"Capa:WP-Plugin":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/wp-plugin/**"

"Capa:Viewer":
  - changed-files:
      - any-glob-to-any-file:
          - "apps/viewer/**"

"Capa:Schemas":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/schemas/**"

"Capa:Assets":
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**"
          - "tools/assets-lint/**"

"Capa:Docs":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"

"Capa:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

"Tipo:CI":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

Update labels.yml
  .github/labels.yml
Labels: none

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: Capa:CI, Tipo:CI

Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Capa:CI, Tipo:CI

Create ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Create ci-e2e.yml
  .github/workflows/ci-e2e.yml
Labels: Capa:CI, Tipo:CI

Create ci-php.yml
  .github/workflows/ci-php.yml
Labels: Capa:CI, Tipo:CI

Create ci-assets.yml
  .github/workflows/ci-assets.yml
Labels: Capa:CI, Tipo:CI

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Update ci-e2e.yml
  .github/workflows/ci-e2e.yml
Labels: Capa:CI, Tipo:CI

Update ci-assets.yml
  .github/workflows/ci-assets.yml
Labels: Capa:CI, Tipo:CI

Update package.json
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update package.json
  package.json
Labels: none

Update g3d-flow-orchestrator.php
  apps/wp-plugin/G3D-Flow-Orchestrator/g3d-flow-orchestrator.php
Labels: Capa:WP-Plugin

Update ci-schemas.yml
  .github/workflows/ci-schemas.yml
Labels: Capa:CI, Tipo:CI

Add files via upload
  CONTRIBUTING.md
Labels: none

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Add files via upload (#4)
  CONTRIBUTING.md
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
Labels: Capa:WP-Plugin

Add files via upload
  .github/dependabot.yml
Labels: none

Add files via upload
  CODEOWNERS
  MAINTAINERS.md
  SECURITY.md
Labels: none

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Ops batch (#5)
  .github/dependabot.yml
  CODEOWNERS
  MAINTAINERS.md
  SECURITY.md
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
Labels: Capa:WP-Plugin

Update README.md
  README.md
Labels: none

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Update package.json
  package.json
Labels: none

Create CHANGELOG.md
  CHANGELOG.md
Labels: none

Update README.md
  README.md
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update package.json
  package.json
Labels: none

Update readme.txt
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
Labels: Capa:WP-Plugin

Rama2 (#12)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  apps/wp-plugin/G3D-Flow-Orchestrator/readme.txt
  package.json
Labels: Capa:WP-Plugin

Create release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI

Create index.md
  docs/index.md
Labels: Capa:Docs

Update release-plugin.yml
  .github/workflows/release-plugin.yml
Labels: Capa:CI, Tipo:CI
